<!doctype html>

<!--[if lt IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js" > <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>

    <!-- main JS libs -->
    <script src="../static/vanilla-cream-css/js/libs/modernizr.min.js" th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js" th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js" th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js" th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css" th:href="@{/vanilla-cream-css/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/vanilla-cream-css/style.css"  th:href="@{/vanilla-cream-css/style.css}"  />
    <!-- scripts -->
    <script src="../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>

    <!-- Include all needed stylesheets and scripts here -->

    <!--[if lt IE 9]><script src="../static/vanilla-cream-css/js/respond.min.js" th:src="@{/vanilla-cream-css/js/respond.min.js}"></script><![endif]-->

    <style type="text/css">
        .gradient {filter: none !important;
        }
        .dropdown > li a {
            display: block;
            color: #5d4f3e;
            padding: 14px 53px;
            font-size: 14px;
        }
    </style>

</head>
    <body style="background-image: none;">
    <div class="body_wrap">
        <div class="container">
            <div class="alert alert-success text-center" role="alert">致爱丽丝</div>
            <div id="topmenu">
                <ul class="dropdown clearfix gradient">
                    <li class="menu-level-0"><a href="#"><span>主页</span></a></li>
                    <li class="menu-level-0"><a href="#"><span>全部鲜花</span></a>
                    </li>
                    <li class="menu-level-0"><a href="#"><span>每日花束</span></a></li>
                    <li class="menu-level-0"><a href="#"><span>节日热卖</span></a></li>
                    <li class="menu-level-0"><a href="#"><span>特价促销</span></a></li>

                    <li class="menu-level-0"><a href="#"><span>统计</span></a></li>

                </ul>
            </div>

        <table class="table table-striped table-bordered">
            <tr>
                <td>标题</td>
                <td>内容</td>
                <td>图片</td>
                <td>单价</td>
                <td>折扣</td>
                <td>售价</td>
                <td>操作</td>

            </tr>
            <!--/*@thymesVar id="learnList" type=""*/-->
        <tr th:each="item : ${list}" class="text-info">
            <td th:text="${item.title}"></td>
            <td th:text="${item.content}"></td>
            <td th:text="${item.picUrl}" ></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.discount}"></td>
            <td th:text="${item.realPrice}" ></td>
            <td><button th:text="保存"/></td>
        </tr>
    </table>
</div>
    </div>



</body>
</html>